/* Font Family -- Roboto */
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap");
/* Font Family -- Righteous */
@import url("https://fonts.googleapis.com/css2?family=Righteous&display=swap");
/* Font Family -- Lobster 2 */
@import url('https://fonts.googleapis.com/css2?family=Lobster+Two:wght@400;700&display=swap');

:root {
    --font-roboto: "Roboto", sans-serif;
    --font-righteous: "Righteous", cursive;
    --text-color: #5a5a5a;
    --white: #fff;
    --white2: #fff;
    --white-unchanged: #fff;
    --black: #000;
    --light-black: #0f0f0f;
    --light-white: #f1f1f1;
    --red: #f00;
    --link: #065fd4;
    --dark-gray: #555;
    --border-color: #ccc;
    --scroll-bar: #8a8a8a;
    --selection-color: #ADD8E6;
    --dark-blue: #0000FF;
    --dark-green: #008000;
    --main-color: #FF0800;
    --danger: #dc3545;
    --success: #28a745;
}

body.b-dark {
    --text-color: #7a7a7a;
    --white: #0f0f0f;
    --white2: #1b1b1b;
    --black: #fff;
    --light-black: #f1f1f1;
    --light-white: #111111;
    --red: #f00;
    --link: #065fd4;
    --dark-gray: #888;
    --border-color: #666;
    --selection-color: #ADD8E6;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: var(--font-roboto);
}

html,
body {
    scroll-behavior: smooth;
}

body {
    background-color: var(--light-white);
}

::-webkit-scrollbar {
    width: 12px;
}

/* Track */
::-webkit-scrollbar-track {
    background: var(--white);
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: var(--scroll-bar);
    border-radius: 10px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: var(--dark-gray);
}

a {
    text-decoration: none;
    color: var(--text-color);
    user-select: none;
    cursor: pointer;
}

i {
    color: var(--text-color);
    cursor: pointer;
}

li {
    list-style: none;
}

svg {
    cursor: pointer;
}

img {
    cursor: pointer;
}

.d-none {
    display: none;
}

.flex-div {
    display: flex;
    align-items: center;
}

.flex-col {
    display: flex;
    align-items: center;
    flex-direction: column;
}

nav {
    padding: 10px 2%;
    justify-content: space-between;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    background: var(--white2);
    position: sticky;
    top: 0;
    z-index: 10;
}

.nav-right a img,
.nav-right svg,
.nav-right a svg,
.nav-right i {
    width: 22px;
    height: 22px;
    margin-right: 17px;
    color: var(--text-color);
}

.nav-right a img {
    width: 30px;
    height: 30px;
    margin-right: 17px;
}

.nav-right a#user_img {
    position: relative;
}

.nav-right a#user_img:hover+.profile-popup {
    display: flex;
}

.nav-right .profile-popup {
    position: absolute;
    background: var(--light-white);
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 8px 0;
    border-radius: 5px;
    top: 45px;
    right: 15px;
    display: none;
}

.nav-right .profile-popup:hover {
    display: flex;
}

.nav-right .profile-popup ul li {
    list-style: none;
    padding-right: 30px;
    margin: 10px 10px;
}

.nav-right .profile-popup ul li:hover {
    background: rgb(0, 0, 0, 0.1);
}

.nav-right .video-icon {
    width: 33px;
    height: 25px;
}

.nav-right a img:last-child {
    width: 32px;
    border-radius: 50%;
    margin-right: 0;
}

#sign_in_button {
    outline: none;
    background: none;
    border: 1px solid var(--link);
    padding: 6px 10px;
    color: var(--link);
    border-radius: 25px;
    margin-left: 5px;
    cursor: pointer;
}

#sign_in_button a {
    color: var(--link);
}

#sign_in_button:hover {
    background: rgb(137, 196, 244);
}

#sign_in_button:hover a {
    color: var(white);
}

.nav-left .menu-icon {
    width: 20px;
    margin-right: 17px;
}

.nav-left .logo-icon {
    width: 170px;
    cursor: pointer;
    user-select: none;
    color: var(--black);
    font-weight: 700;
    letter-spacing: 2px;
    font-family: 'Lobster Two', cursive;
    font-size: 25px;
    /* background: linear-gradient(to right, var(--border-color) 50%, #ff5858 50% , #cc2e5d); pink gradient */
    background: linear-gradient(to right,
            var(--light-black) 50%,
            var(--main-color) 50%,
            #a52a2a);
    background-size: 200%;
    /* background-clip: initial; */
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    transition: 0.5s ease-out;
    display: flex;
    align-items: center;
    font-stretch: extra-expanded;
}

.nav-left .logo-icon svg {
    margin-right: 7px;
}

.nav-left .logo-icon:hover {
    background-position: -100%;
}

.nav-left .logo-icon sup {
    font-size: 10px;
    color: var(--text-color);
    font-weight: 400;
    margin-top: -15px;
    /* margin-left: -8px; */
}

.nav-left .logo-icon img {
    width: 28px;
    height: 28px;
    margin-right: 5px;
}

.nav-middle .mic-icon {
    width: 17px;
    /* fill: linear-gradient(45deg, #0ce39a, #69007f, #fc0987);
    stroke: linear-gradient(45deg, #0ce39a, #69007f, #fc0987); */
}

.nav-middle .search-icon:hover {
    background: var(--border-color);
}

.nav-middle .search-box {
    border: 1px solid var(--border-color);
    margin-right: 15px;
    /* padding: 8px 12px; */
    border-radius: 25px;
    /* overflow: hidden; */
    text-align: center;
    position: relative;
}

.nav-middle .search-box input {
    width: 430px;
    border: none;
    outline: none;
    background: transparent;
    color: var(--black);
    padding: 4px 0;
    padding-left: 1px;
    margin: 8px 12px;
}

.nav-middle .search-box input::placeholder {
    color: var(--text-color);
    letter-spacing: 1px;
}

.nav-middle .search-box input::-webkit-search-cancel-button {
    display: none;
}

.nav-middle .search-box form button {
    outline: none;
    border: none;
    background: none;
    width: 34px;
    height: 34px;
}

.nav-middle .search-icon {
    font-size: 15px;
    width: 17px;
    stroke-width: 2;
    /* width: 40px;
    height: 40px;
    padding: 11px; */
}

.search-history-dropdown {
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
    max-height: 200px;
    overflow-y: auto;
    background-color: var(--white);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    z-index: 10;
    margin-top: 10px;
    padding: 5px 0;
    padding-bottom: 3px;
    border-radius: 6px;
    display: none;
}

.search-history-item {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 5px 13px;
    /* border-bottom: 1px solid var(--border-color); */
}

.search-history-item:hover {
    background-color: var(--border-color);
}

.search-history-dropdown p {
    font-size: 17px;
    font-weight: 600;
    letter-spacing: normal;
    cursor: pointer;
}

.search-history-icon {
    margin-right: 15px;
    margin-bottom: -6px;
}

.search-history-icon svg {
    width: 23px;
    height: 23px;
    stroke-width: 1.6;
}

.remove-history-button {
    margin-left: auto;
    margin-right: 40px;
    padding: 0;
    font-size: 15px;
    letter-spacing: 1px;
    color: var(--link);
    cursor: pointer;
}

/* Sidebar */
.sidebar {
    background: var(--white2);
    width: 17%;
    height: 100vh;
    position: absolute;
    top: 0;
    padding-top: 80px;
    overflow-y: inherit;
}

.sidebar::-webkit-scrollbar {
    width: 3px;
}

/* .sidebar-links {
    margin-left: 20px;
} */
.sidebar-links a {
    display: flex;
    align-items: center;
    margin-bottom: 5px;
    padding: 10px 0;
    min-width: fit-content;
    width: 100%;
    flex-wrap: wrap;
    font-size: 13px;
    text-align: center;
    padding-left: 12%;
    color: var(--light-black);
}


.sidebar-links a p {
    color: var(--light-black);
}

.sidebar-links a.active,
.sidebar-links a.active>p,
.sidebar-links a.active>i {
    color: var(--black);
}

.sidebar-links a:hover>svg,
.sidebar-links a:active>svg,
.sidebar-links a:hover>p,
.sidebar-links a.active>svg {
    color: var(--black);
    stroke-width: 1.7;
}

.sidebar-links a.active,
.sidebar-links a:hover {
    font-weight: 500;
}

.small-sidebar a.active {
    border-left: 8px solid var(--main-color);
    padding-left: calc(26% - 8px);
    background: rgba(0, 0, 0, 0.13);
}

.sidebar-links a i,
.sidebar-links a svg {
    width: 20px;
    height: 20px;
    color: var(--black);
    margin-right: 15px;
    cursor: pointer;
}

.line-break,
.sidebar .line-break {
    border: none;
    height: 1px;
    background: var(--border-color);
    width: 85%;
    margin-bottom: 15px;
}

.subscription {
    overflow: scroll;
}

.subscription h3 {
    font-size: 14px;
    margin: 20px 0;
    color: var(--text-color);
    padding-left: 12%;
    position: relative;
}

.subscription a {
    display: flex;
    align-items: center;
    margin-bottom: 18px;
    width: fit-content;
    flex-wrap: wrap;
    font-size: 13px;
    padding-left: 12%;
}

.subscription a img {
    width: 25px;
    border-radius: 50%;
    margin-right: 10px;
}

.subscription .sub_img {
    width: 100%;
    margin-top: -100px;
}

.z-1 {
    z-index: 1;
}

/* .customize-container {
  background-color: var(--border-color);
  border-top: 2px solid var(--dark-gray);
  position: fixed;
  bottom: 0;
  left: 0;
  width: 18%;
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  flex-direction: column;
  padding: 1% 2%;
} */

/* .customize {
  display: flex;
  align-items: center;
  width: fit-content;
  flex-wrap: wrap;
  padding: 9px 0;
  margin-bottom: 12px;
  font-size: 14px;
  gap: 10px;
  border-radius: 5px;
} */

/* .customize:hover {
  background: rgba(0, 0, 0, 0.1);
}
*/
.customize-popup,
.filter-popup {
    background: var(--light-white);
    position: fixed;
    /* border: 2px solid var(--black); */
    z-index: 4;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    align-items: center;
    padding: 20px 40px;
    flex-direction: column;
    gap: 30px;
    text-align: center;
    border-radius: 10px;
    box-shadow: -1px 12px 21px -3px rgba(0, 0, 0, 0.57);
    -webkit-box-shadow: -1px 12px 21px -3px rgba(0, 0, 0, 0.57);
    -moz-box-shadow: -1px 12px 21px -3px rgba(0, 0, 0, 0.57);
    display: none;
}

#close-customize {
    position: absolute;
    right: 20px;
    top: 10px;
}

.customize-popup .customize-colors {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 35px;
}

.customize-popup .customize-colors .single-color {
    width: 30px;
    height: 30px;
    border-radius: 50%;
    cursor: pointer;
    position: relative;
}

/* .customize-popup .customize-colors div.active {
  border: 2px solid var(--black);
}

.single-color.active {
  border: 2px solid black;
} */

.customize #customize-pop-btn {
    stroke: var(--text-color);
    margin-left: 10px;
}

.customize-popup .customize-fonts {
    display: flex;
    gap: 40px;
}

.customize-title {
    margin: 25px 0;
}

.customize-popup .customize-fonts .single-font {
    width: 38px;
    height: 38px;
    border-radius: 50%;
    background: var(--selection-color);
    display: flex;
    align-items: center;
    text-align: center;
    justify-content: center;
    position: relative;
    cursor: pointer;
}

.customize-popup .customize-fonts .single-font::before {
    content: '';
    width: 40px;
    height: 4px;
    background: var(--selection-color);
    position: absolute;
    left: 38px;
}

.customize-popup .customize-fonts .single-font:nth-last-child(1):before {
    display: none;
}

.customize-popup .customize-fonts .fontsize-1 {
    font-size: 23px;
}

.customize-popup .customize-fonts .fontsize-2 {
    font-size: 21px;
}

.customize-popup .customize-fonts .fontsize-3 {
    font-size: 19px;
}

.customize-popup .customize-fonts .fontsize-4 {
    font-size: 17px;
}

.customize-popup .customize-fonts .fontsize-5 {
    font-size: 15px;
}

.modes {
    display: flex;
    width: 100%;
}

.modes div {
    flex-basis: 50%;
    margin-bottom: 10px;
    padding: 10px 8px;
    color: var(--text-color);
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 15px;
    gap: 5px;
    font-weight: 600;
    border: 1px solid var(--black);
    cursor: pointer;
}

.modes .light-mode {
    background: var(--white);
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
}

.modes .dark-mode {
    background: var(--black);
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
}


.small-sidebar {
    width: 6%;
    display: flex;
    flex-direction: column;
    text-align: center;
    padding-top: 80px;
    z-index: 3;
    padding-right: .2%;
}

.small-sidebar a {
    position: relative;
    padding-left: 26%;
    display: flex;
    align-items: center;
    min-width: fit-content;
    flex-wrap: wrap;
    width: 100%;
    text-align: center;
}

.small-sidebar a:hover>i,
.small-sidebar a:hover>svg {
    color: var(--black);
}

.small-sidebar a:nth-child(7),
.small-sidebar a:nth-child(8),
.small-sidebar a:nth-child(9) {
    display: none;
}

.small-sidebar a.customize {
    display: block;
}

.small-sidebar a.customize #customize-pop-btn {
    display: none;
}

.small-sidebar a i,
.small-sidebar a svg {
    font-size: 18px;
    width: 23px;
    height: 23px;
    margin-bottom: 10px;
    margin-top: 10px;
    margin-left: 2%;
    padding-left: 2%;
    z-index: 2 !important;
}

.small-sidebar a p {
    font-size: 12px;
    position: absolute;
    top: 20px;
    left: 100%;
    background: var(--black);
    color: var(--white) !important;
    padding: 6px 10px;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
    border-top-left-radius: 50px;
    border-bottom-left-radius: 50px;
    letter-spacing: 1px;
    z-index: 2 !important;
    display: none;
}

.small-sidebar a:hover>p {
    display: block;
}

.small-sidebar h3 {
    display: none;
}

.small-sidebar hr {
    width: 50%;
    margin-bottom: 25px;
    display: none;
}

.small-sidebar .subscription {
    display: none;
}

/* Main Content */
.container {
    padding-left: 18.5%;
    padding-right: 2%;
    padding-top: 20px;
    padding-bottom: 20px;
    z-index: -2 !important;
}

.large-container {
    padding-left: 6%;
    z-index: -2 !important;
}

/* banner */
.banner {
    text-align: center;
    color: white;
    width: 100%;
    display: flex;
    align-items: flex-start;
    padding: 15px 35px;
    background: var(--link);
    border-radius: 8px;
}


.banner-text {
    display: flex;
    align-items: flex-start;
    flex-direction: column;
    gap: 10px;
    justify-content: space-between;
}

.banner-text .banner-para {
    width: 400px;
    text-align: left;
    margin: 15px 0;
}

.banner-text .banner-btn button {
    background: var(--red);
    color: var(--white);
    padding: 8px 30px;
    border: 0;
    outline: 0;
    border-radius: 5px;
    cursor: pointer;
}

/* chips */
.chips-container {
    /* display: flex; */
    align-items: center;
    width: 100%;
    /* background: var(--red); */
    padding: 7px 10px;
    margin-top: -5px;
    margin-bottom: 10px;
    padding-top: 10px;
    padding-left: 0;
    position: relative;
}

.chips-container::-webkit-scrollbar {
    height: 7px;
}

.chips-container::-webkit-scrollbar-track {
    background: var(--white);
}

.chips-container::-webkit-scrollbar-thumb {
    background: --scroll-bar;
    border-radius: 10px;
}

.chips-container::-webkit-scrollbar-thumb:hover {
    background: #a7a7a7;
}

.chips-container .chip-box {
    display: flex;
    gap: 12px;
    list-style: none;
    overflow-x: hidden;
    scroll-behavior: smooth;
}

.chips-container .chip-box a {
    width: fit-content;
}

.chips-container .chip-box a:hover {
    background: rgba(0, 0, 0, 0.1);
}

.chips-container .chip-box a.active,
.chips-container .chip-box a.active>svg {
    background: var(--light-black);
    color: var(--light-white);
    stroke: var(--light-white);
    stroke-width: 2;
}

.chips-container .chip-box a {
    padding: 7px 12px;
    border: none;
    outline: none;
    background: var(--white);
    border-radius: 3px;
    color: var(--text-color);
    letter-spacing: 1px;
    min-width: max-content;
    width: 100%;
    text-align: center;
    padding-top: 9px;
}

.chips-container .chip-box a.newtoyou {
    position: relative;
    background: linear-gradient(45deg, #0ce39a, #69007f, #fc0987);
    z-index: 3;
    border-radius: 3px;
}

.chips-container .chip-box a.newtoyou::before {
    content: "";
    position: absolute;
    inset: 2px;
    background: var(--white);
    border-radius: 3px;
    transition: 0.5s;
    color: var(--white);
}

.chips-container .chip-box a.newtoyou:hover::before {
    color: var(--white);
    opacity: 0.3;
}

.chips-container .chip-box a.newtoyou::after {
    content: "";
    position: absolute;
    inset: 0px;
    background: linear-gradient(45deg, #0ce39a, #69007f, #fc0987);
    transition: 0.5s;
    border-radius: 3px;
    opacity: 0;
    color: var(--white);
    /* filter: blur(20px); */
}

.chips-container .chip-box a.newtoyou.active {
    color: var(--white);
}

.chips-container .chip-box a.newtoyou:hover::after {
    color: var(--white);
    opacity: 0.3;
}

.chips-container .chip-box a.newtoyou span {
    position: relative;
}

.chips-container .chip-box .chip-explore {
    background: rgba(0, 0, 0, 0.1);
}

.chips-container .chip-box.dragging {
    scroll-behavior: auto;
    cursor: grab;
}

.chips-container .chip-box.dragging .chip {
    user-select: none;
    pointer-events: none;
}

.chips-container .chip-arrow-icon {
    position: absolute;
    top: 0;
    width: max-content;
    display: flex;
    align-items: center;
    z-index: 3;
    color: var(--text-color);
    padding: 0;
    font-size: 35px;
    font-weight: 600;
    cursor: pointer;
}

.chip-arrow-icon:first-child {
    left: 0;
    display: none;
    /* background: linear-gradient(90deg, var(--white) 70%, var); */
    width: 80px;
}

.chip-arrow-icon:last-child {
    right: 0;
    justify-content: flex-end;
    /* background: linear-gradient(-90deg, var(--white) 70%, transparent); */
}

.chip-arrow-icon div {
    width: 55px;
    height: 55px;
    cursor: pointer;
    font-size: 35px;
    text-align: center;
    line-height: 49px;
    background: var(--light-white);
}

.chip-arrow-icon div:hover {
    background: var(--border-color);
}

.chip-arrow-icon:first-child div {
    border-top-left-radius: 3px;
    border-bottom-left-radius: 3px;
}

.chip-arrow-icon:last-child div {
    border-top-right-radius: 3px;
    border-bottom-right-radius: 3px;
}

.chip-arrow-icon .chip-icon-left {
    left: 0;
    padding-top: -10px;
}

.chip-arrow-icon .chip-icon-right {
    right: 0;
    padding-top: -10px;
}

/* video section */
.video-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(240px, 1fr));
    grid-column-gap: 16px;
    grid-row-gap: 30px;
    margin-top: 15px;
}

.video-container .videos {
    max-width: 400px;
    position: relative;
}

.video-container .videos:hover>.watch_later {
    display: unset;
}

.video-container .videos .watch_later {
    position: absolute;
    top: 10px;
    right: 8px;
    background: var(--black);
    text-align: center;
    padding: 3px;
    padding-bottom: 0;
    border-radius: 4px;
    display: none;
}

.videos .thumbnail {
    width: 100%;
    border-radius: 5px;
}

.videos .flex-div {
    align-items: flex-start;
    margin-top: 7px;
}

.videos .flex-div img {
    width: 35px;
    margin-right: 10px;
    border-radius: 50%;
}

.video-info {
    color: var(--text-color);
    font-size: 16px;
    margin-top: 5px;
}

.video-info a {
    color: var(--black);
    font-weight: 500;
    display: block;
    margin-bottom: 5px;
    line-height: 17px;
    max-height: 3.6em;
    /* Two lines of text (approximately) */
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    /* Number of lines to display */
    -webkit-box-orient: vertical;
    letter-spacing: .5px;
}

.video-info .title-tooltip {
    position: absolute;
    display: none;
    background-color: var(--white);
    border: 1px solid var(--border-color);
    padding: 10px;
    z-index: 1;
}

.video-info p {
    font-size: 13px;
}

.video-info .channel-name {
    font-size: 15px;
    letter-spacing: .5px;
    font-weight: 500;
    margin-bottom: 2px;
}

.v_flow {
    display: flex;
    align-items: flex-start;
    flex-direction: column;
    width: 100%;
}

.v_flow .videos {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    min-width: 100%;
    gap: 20px;

}

.v_flow .videos a {
    flex-basis: 35%;
}

.v_flow .videos .flex-div {
    flex-basis: 65%;
    flex-direction: column;
    align-items: flex-start;
    margin: 16px 0;
    gap: 5px;
}


.v_flow .videos .flex-div a {
    color: var(--black);
    font-size: 23px;
}

.v_flow .videos .flex-div p {
    color: var(--text-color);
    font-size: 14px;
}

.v_flow .videos .flex-div p.v_keyword {
    font-size: 16px;
    margin-top: 15px;
}

.v_flow .videos .flex-div a.remove-btn {
    font-size: 13px;
    margin-top: 15px;
    color: var(--white);
    min-width: max-content;
    margin-left: 65%;
}

.v_flow .videos .flex-div .flex-div2 {
    margin-top: 10px;
}

.result_chip {
    display: flex;
    align-items: center;
    width: 100%;
    overflow: hidden;
}

.result_chip .chips-container {
    margin: 0;
    flex: 1;
    overflow: hidden;
}

.result_chip .filter {
    flex-basis: 10%;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    margin-left: 2%;
    padding: 5px 4px;
    cursor: pointer;
}

.result_chip .filter:hover {
    background-color: var(--border-color);
    border-radius: 15px;
}

.result_chip .filter svg {
    width: 22px;
    height: 22px;
}

.result_chip .filter p {
    letter-spacing: 1px;
}

.filter-popup {
    width: max-content;
    min-height: max-content;
    color: var(--text-color);
    padding: 15px 30px;
}

.filter-popup .f-up {
    margin-bottom: 15px;
}

.filter-popup .f-up h4 {
    font-size: 17px;
    color: var(--black);
}

.filter-popup .f-down {
    width: 100%;
    align-items: flex-start;
    gap: 25px;
}

.filter-popup .f-down .flex-col {
    gap: 5px;
    align-items: flex-start;
}

.filter-popup .f-down .flex-col h5 {
    font-size: 14px;
    padding-bottom: 5px;
    border-bottom: 3px solid var(--border-color);
}

.filter-popup .f-down .flex-col ul li {
    text-align: start;
    margin: 10px 0;
}

/* video page */
.play-container {
    padding-left: 2%;
}

.row {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.play-video {
    flex-basis: 67.5%;
}

.right-sidebar {
    flex-basis: 32%;
}

.pcontainer,
.video-controls,
.video-timer,
.options {
    display: flex;
    align-items: center;
    justify-content: center;
}

.pcontainer {
    width: 100%;
    user-select: none;
    overflow: hidden;
    border-radius: 5px;
    /* height: 500px; */
    height: max-content;
    position: relative;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.1);
}

.pcontainer.fullscreen {
    max-width: 100%;
    width: 100%;
    height: 100vh;
    border-radius: 0px;
}

.pcontainer .pwrapper {
    position: absolute;
    left: 0;
    right: 0;
    z-index: 1;
    opacity: 0;
    bottom: -15px;
    transition: all 0.08s ease;
}

.pcontainer.show-controls .pwrapper {
    opacity: 1;
    bottom: 0;
    transition: all 0.13s ease;
}

.pcontainer .pwrapper::before {
    content: "";
    bottom: 0;
    width: 100%;
    z-index: -1;
    position: absolute;
    height: calc(100% + 35px);
    pointer-events: none;
    background: linear-gradient(to top, rgba(0, 0, 0, 0.7), transparent);
}

.turn-light {
    position: absolute;
    top: 25px;
    right: 25px;
    width: 30px;
    height: 30px;
    padding: 3px;
    border-radius: 3px;
    background: var(--white);
    cursor: pointer;
    z-index: 5;
}

.turn-light svg {
    stroke: var(--black);
}

.video-timeline {
    height: 7px;
    width: 100%;
    cursor: pointer;
}

.video-timeline .progress-area {
    height: 3px;
    position: relative;
    background: rgba(255, 255, 255, 0.6);
}

.progress-area span {
    position: absolute;
    left: 50%;
    top: -25px;
    font-size: 13px;
    color: var(--white);
    pointer-events: none;
    transform: translateX(-50%);
}

.progress-area .progress-bar {
    width: 0%;
    height: 100%;
    position: relative;
    background: #2289ff;
}

.progress-bar::before {
    content: "";
    right: 0;
    top: 50%;
    height: 13px;
    width: 13px;
    position: absolute;
    border-radius: 50%;
    background: #2289ff;
    transform: translateY(-50%);
}

.progress-bar::before,
.progress-area span {
    display: none;
}

.video-timeline:hover .progress-bar::before,
.video-timeline:hover .progress-area span {
    display: block;
}

.pwrapper .video-controls {
    padding: 5px 20px 10px;
}

.video-controls .options {
    width: 100%;
}

.video-controls .options:first-child {
    justify-content: flex-start;
}

.video-controls .options:last-child {
    justify-content: flex-end;
}

.options button {
    height: 22px;
    width: 22px;
    font-size: 19px;
    border: none;
    cursor: pointer;
    background: none;
    color: var(--white-unchanged);
    border-radius: 3px;
    transition: all 0.3s ease;
}

.options button :where(i, svg, span) {
    height: 19px;
    width: 19px;
    line-height: 19px;
    color: var(--white-unchanged);
}

.options button:hover :where(i, svg, span) {
    color: var(--white-unchanged);
}

.options button:active :where(i, svg, span) {
    transform: scale(0.9);
}

.options button span {
    font-size: 23px;
}

.video-controls {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.volume {
    margin-right: 4px;
    margin-left: -8px;
}

.options.center {
    gap: 10px;
}

.options.right {
    gap: 15px;
}

.playback-speed svg {
    margin-right: -15px;
}

.options input {
    height: 4px;
    margin-left: 3px;
    max-width: 75px;
    accent-color: var(--main-color);
    cursor: pointer;
}

.options .video-timer {
    color: var(--white-unchanged);
    margin-left: 6px;
    font-size: 14px;
}

.video-timer .current-time,
.video-timer .video-duration {
    font-size: 12px;
}

.video-timer .separator {
    margin: 0 5px;
    font-size: 16px;
    font-family: "Open sans";
}

.playback-content {
    display: flex;
    position: relative;
}

.playback-content .speed-options {
    position: absolute;
    list-style: none;
    left: -40px;
    bottom: 40px;
    width: 95px;
    overflow: hidden;
    opacity: 0;
    border-radius: 4px;
    pointer-events: none;
    background: rgba(255, 255, 255, 0.9);
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.1);
    transition: opacity 0.13s ease;
}

.playback-content .speed-options.show {
    opacity: 1;
    pointer-events: auto;
}

.speed-options li {
    cursor: pointer;
    color: var(--black);
    font-size: 14px;
    margin: 2px 0;
    padding: 5px 0 5px 15px;
    transition: all 0.1s ease;
}

.speed-options li:where(:first-child, :last-child) {
    margin: 0px;
}

.speed-options li:hover {
    background: #dfdfdf;
}

.speed-options li.active {
    color: var(--white);
    background: var(--main-color);
}

.pcontainer video {
    width: 100%;
    height: 100%;
    aspect-ratio: 16/9;
}

.playback-speed {
    display: block;
    margin-right: 10px;
}


@media screen and (max-width: 540px) {
    .pwrapper .video-controls {
        padding: 3px 10px 7px;
    }

    .options input,
    .progress-area span {
        display: none !important;
    }

    .options button {
        height: 30px;
        width: 30px;
        font-size: 17px;
    }

    .options .video-timer {
        margin-left: 5px;
    }

    .video-timer .separator {
        font-size: 14px;
        margin: 0 2px;
    }

    .options button :where(i, svg, span) {
        line-height: 30px;
    }

    .options button span {
        font-size: 21px;
    }

    .options .video-timer,
    .progress-area span,
    .speed-options li {
        font-size: 12px;
    }

    .playback-content .speed-options {
        width: 75px;
        left: -30px;
        bottom: 30px;
    }

    .speed-options li {
        margin: 1px 0;
        padding: 3px 0 3px 10px;
    }

    .right .pic-in-pic {
        display: none;
    }
}



.side-video-list {
    display: flex;
    justify-content: space-between;
    margin-bottom: 8px;
}

.side-video-list img {
    width: 100%;
}

.side-video-list .small-thumbnail {
    flex-basis: 44%;
}

.side-video-list .video-info {
    flex-basis: 54%;
}

.side-video-list .video-info a {
    font-size: 18px;
    font-weight: 500;
    margin-bottom: 5px;
}

.side-video-list .video-info .c-title {
    font-size: 17px;
    font-weight: 400;
    margin-bottom: 5px;
}
.side-video-list .video-info .v-views {
    font-size: 15px;
}

.play-video-tags {
    margin: 10px 0;
}

.play-video-tags a {
    color: var(--link);
    font-size: 12px;
}

.play-video-title h3 {
    font-size: 22px;
    font-weight: 500;
    color: var(--black);
}

.play-video-info {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
    margin-top: 10px;
    font-size: 14px;
    color: var(--text-color);
}

.play-video-info .play-video-links {
    display: flex;
}

.play-video-info .play-video-links div {
    margin-right: 5px;
    width: 45px;
    height: 45px;
    text-align: center;
    /* padding: 12px; */
    border-radius: 50%;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
}

.play-video-info .play-video-links div:hover {
    background: rgba(0, 0, 0, 0.1);
}

.play-video-info .play-video-links div p {
    font-size: 11px;
    margin: 0;
    position: absolute;
    top: 50px;
    left: -11px;
    background: var(--black);
    color: var(--white);
    padding: 5px 7px;
    letter-spacing: 1px;
    border-radius: 2px;
    width: 70px;
    display: none;
}

.play-video-info .play-video-links div:hover>p {
    display: block;
}

.play-video-info .play-video-links div svg:active {
    fill: var(--black);
    stroke: var(--white);
    width: 21px;
    height: 21px;
    stroke: 2px;
}

.play-video-info .play-video-links div #like-animation.active {
    fill: #a52a2a;
    stroke: var(--white);
    width: 22px;
    height: 22px;
}

.play-video-info .play-video-links div #like-animation.animate {
    fill: #a52a2a;
    stroke: var(--white);
    width: 22px;
    height: 22px;
    animation: like-animate 0.5s ease-in;
}

@keyframes like-animate {
    0% {
        transform: scale(1);
    }

    20% {
        transform: scale(1.1) rotate(-15deg);
        margin-top: -1px;
    }

    40% {
        transform: scale(1.2) rotate(-20deg);
        margin-top: -1.5px;
        margin-left: -0.5px;
    }

    60% {
        transform: scale(1.2) rotate(-10deg);
        transform-origin: bottom;
        margin-top: -2px;
        margin-left: -0.5px;
    }

    80% {
        transform: scale(1.1);
    }

    100% {
        transform: scale(1);
    }
}

/* .play-video-info .play-video-links .three-dots {
    font-size: 20px;
    margin-left: 10px;
} */

.play-video-link-drop {
    background: var(--white);
    color: var(--text-color);
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 5px;
    width: 110px;
    border-radius: 10px;
    padding: 8px 0;
    padding-right: 8px;
    position: absolute;
    top: 30px;
    right: -50px;
    display: none;
}

.play-video-link-drop a {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-left: -30px;
    gap: 16px;
}

.play-video-link-drop a.drop-in {
    display: none;
}

.play-video hr {
    border: none;
    height: 1px;
    background: var(--border-color);
    margin: 15px 0;
    margin-top: 5px;
}

.play-channel {
    display: flex;
    align-items: center;
    margin-top: 20px;
}

.play-channel .play-channel-info {
    flex: 1;
    line-height: 18px;
    cursor: pointer;
}

.play-channel img {
    width: 40px;
    border-radius: 50%;
    margin-right: 12px;
}

.play-channel .play-channel-info h3 {
    color: var(--black);
    font-weight: 600;
    font-size: 18px;
}

.play-channel .play-channel-info h3 svg {
    margin-bottom: -2px;
}

/* .play-channel .play-channel-info h3 svg::w{
    background: none;
    outline: none;
    border: none;
    background-color: red;
} */
.play-channel .play-channel-info span {
    color: var(--text-color);
    font-size: 12px;
    display: flex;
    gap: 8px;
    margin-top: 3px;
}

.subscribe-btn {
    background: var(--red);
    color: var(--white);
    padding: 8px 30px;
    border: 0;
    outline: 0;
    border-radius: 20px;
    cursor: pointer;
    margin-right: 18px;
}

.play-channel .subscribe-btn.active,
.play-channel .subscribe-btn:active {
    background: var(--light-black);
}

.play-video-desc {
    width: 100%;
    padding: 15px 10px;
    margin: 15px 0;
    border-radius: 10px;
    height: auto;
    background-color: rgba(0, 0, 0, 0.05);
}

.play-video-desc:hover {
    background-color: rgba(0, 0, 0, 0.1);
}

.play-video-desc p {
    size: 14px;
    margin-bottom: 5px;
    color: var(--text-color);
    line-height: 20px;
    max-height: 3em;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    position: relative;
}


.play-video-desc p span {
    font-size: 13px;
    margin-left: 5px;
    color: var(--link);
    cursor: pointer;
    position: absolute;
    bottom: 0;
    right: 0;
}

.overflow-comment {
    overflow: hidden;
}

.comments {
    margin-top: -700px;
    transition: all 0.2s;
    /* display: none; */
}

.flex-div2 {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-right: 20px;
}

.flex-div2 svg {
    margin-bottom: -20px;
}

.flex-div2 h4 {
    font-size: 15px;
    color: var(--text-color);
    margin-top: 15px;
}

/* a[title]:hover::after {
  content: attr(title);
  position: absolute;
  top: -100%;
  left: 0;
} */

.flex-div2 .show-down {
    display: none;
}

.add-comment {
    display: flex;
    align-items: center;
    margin: 30px 0;
}

.add-comment img {
    width: 35px;
    border-radius: 50%;
    margin-right: 15px;
}

.add-comment input {
    border: 0;
    outline: 0;
    border-bottom: 1px solid var(--border-color);
    width: 100%;
    padding: 10px 0;
    background: transparent;
}

.old-comment {
    display: flex;
    align-items: flex-start;
    margin: 20px 0;
}

.old-comment img {
    width: 35px;
    border-radius: 50%;
    margin-right: 15px;
}

.old-comment .comment-text h3 {
    font-size: 11px;
    margin-bottom: 5px;
    font-weight: 600;
}

.old-comment .comment-text h3 span {
    font-size: 10px;
    color: var(--text-color);
    font-weight: 500;
    margin-left: 5px;
}

.old-comment .comment-text p {
    font-size: 12px;
    color: var(--text-color);
}

.old-comment .comment-action {
    display: flex;
    align-items: center;
    margin: 8px 0;
    font-size: 14px;
    color: var(--text-color);
}

.old-comment .comment-action i {
    margin-right: 10px;
    font-size: 13px;
}

.old-comment .comment-action span {
    margin-right: 15px;
    font-size: 11px;
}

.old-comment .comment-action a {
    color: var(--link);
    font-size: 12px;
    margin-left: 10px;
}

.rotate_180 {
    rotate: -180deg;
    transition: 0.2s ease-in-out;
}

.show-com {
    margin-top: 0;
    display: block;
}

/* Login page */
.form-container form {
    width: 400px;
    height: fit-content;
    border: 1px solid var(--black);
    border-radius: 5px;
    box-shadow: 0px 15px 20px rgba(0, 0, 0, 0.3);
}

.form_inner a {
    text-decoration: none;
    color: var(--red);
}

form .form_inner {
    padding: 30px;
    text-align: center;
}

form .form_inner h1 {
    color: var(--red);
}

form .form_inner h1,
h5 {
    text-align: center;
    margin: 8px 0;
}

form .form_inner h4 {
    margin: 10px 0;
}

.form_inner input {
    width: 100%;
    padding: 10px;
    margin: 10px 0;
    border: 1px solid var(--border-color);
    border-radius: 5px;
}

.form_inner .btn {
    color: var(--white);
    font-size: 20px;
    font-weight: 500;
    background: var(--red);
}

.form_inner input:focus {
    outline-color: var(--main-color);
    outline: none;
    border-color: var(--main-color);
}

input[type=submit] {
    cursor: pointer;
}

.r-container {
    width: 330px;
    background: var(--white);
    text-align: center;
    border-radius: 5px;
    padding: 50px 35px 10px 35px;
}

.r-container header {
    font-size: 35px;
    font-weight: 600;
    margin: 0 0 30px 0;
}

.r-container .form-outer {
    width: 100%;
    overflow: hidden;
}

.r-container .form-outer form {
    display: flex;
    width: 400%;
}

.form-outer form .page {
    width: 25%;
    transition: margin-left 0.3s ease-in-out;
}

.form-outer form .page .title {
    text-align: left;
    font-size: 25px;
    font-weight: 500;
}

.form-outer form .page .field {
    width: 330px;
    height: 45px;
    margin: 45px 0;
    display: flex;
    position: relative;
}

form .page .field .label {
    position: absolute;
    top: -30px;
    font-weight: 500;
}

form .page .field input {
    height: 100%;
    width: 100%;
    border: 1px solid lightgrey;
    border-radius: 5px;
    padding-left: 15px;
    font-size: 18px;
}

form .page .field select {
    width: 100%;
    padding-left: 10px;
    font-size: 17px;
    font-weight: 500;
}

form .page .field button {
    width: 100%;
    height: calc(100% + 5px);
    border: none;
    background: #d33f8d;
    margin-top: -20px;
    border-radius: 5px;
    color: var(--white);
    cursor: pointer;
    font-size: 18px;
    font-weight: 500;
    letter-spacing: 1px;
    text-transform: uppercase;
    transition: 0.5s ease;
}

form .page .field button:hover {
    background: var(--black);
}

form .page .btns button {
    margin-top: -20px !important;
}

form .page .btns button.prev {
    margin-right: 3px;
    font-size: 17px;
}

form .page .btns button.next {
    margin-left: 3px;
}

.r-container .progress-bar {
    display: flex;
    margin: 40px 0;
    user-select: none;
}

.r-container .progress-bar .step {
    text-align: center;
    width: 100%;
    position: relative;
}

.r-container .progress-bar .step p {
    font-weight: 500;
    font-size: 18px;
    color: var(--black);
    margin-bottom: 8px;
}

.progress-bar .step .bullet {
    height: 25px;
    width: 25px;
    border: 2px solid var(--black);
    display: inline-block;
    border-radius: 50%;
    position: relative;
    transition: 0.2s;
    font-weight: 500;
    font-size: 17px;
    line-height: 25px;
}

.progress-bar .step .bullet.active {
    border-color: #d43f8d;
    background: #d43f8d;
}

.progress-bar .step .bullet span {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
}

.progress-bar .step .bullet.active span {
    display: none;
}

.progress-bar .step .bullet:before,
.progress-bar .step .bullet:after {
    position: absolute;
    content: '';
    bottom: 11px;
    right: -51px;
    height: 3px;
    width: 44px;
    background: #262626;
}

.progress-bar .step .bullet.active:after {
    background: #d43f8d;
    transform: scaleX(0);
    transform-origin: left;
    animation: animate 0.3s linear forwards;
}

@keyframes animate {
    100% {
        transform: scaleX(1);
    }
}

.progress-bar .step:last-child .bullet:before,
.progress-bar .step:last-child .bullet:after {
    display: none;
}

.progress-bar .step p.active {
    color: #d43f8d;
    transition: 0.2s linear;
}

.progress-bar .step .check {
    position: absolute;
    left: 50%;
    top: 70%;
    font-size: 15px;
    transform: translate(-50%, -50%);
    display: none;
}

.progress-bar .step .check.active {
    display: block;
    color: var(--white);
}

.fit-image {
    width: 100%;
    object-fit: cover;
}

.text-red {
    color: var(--main-color);
}

.error-div {
    background: #f08080;
    color: #fe0000;
    border-radius: 3px;
    margin-top: -25px;
    padding: 8px 0;
    display: block;
}

.correct-div {
    background: #90ee90;
    color: #008000;
    border-radius: 3px;
    margin-top: -25px;
    padding: 8px 0;
    display: block;
}

.ml-10 {
    margin-left: 15px;
}

/* Profile Page Styling */

.profile_con {
    width: 100%;
    padding: 7% 9%;
}

.profile_con div {
    flex-basis: 50%;
}

.profile_con .right img {
    width: 90%;
    border-radius: 90%;
}


/* channel Page */
.channel-top.flex-div {
    justify-content: space-between;
}

.channel-top .left {
    flex-basis: 60%;
}

.channel-top .left .left-text {
    display: flex;
    align-items: flex-start;
    flex-direction: column;
    gap: 12px;
    color: var(--dark-gray);
}

.channel-top .left .left-text .flex-div {
    gap: 7px;
    font-size: 14px;
    color: var(--text-color);
}

.channel-top .left .channel-title {
    font-size: 35px;
    font-weight: 400;
    color: var(--black);
    /* margin-bottom: 15px; */
}

.channel-top .left img {
    width: 150px;
    aspect-ratio: 1/1;
    border-radius: 50%;
    margin: 10px 20px;
}

.channel-top .right button {
    width: 50%;
}

.channel-top .right {
    flex-basis: 40%;
    gap: 13px;
    margin-right: -30px;
}

.channel-middle {
    margin-top: 20px;
    padding: 20px;
    padding-left: 60px;
}

.channel-middle .screen {
    display: flex;
    align-items: center;
    gap: 45px;
    margin-bottom: 15px;
}

.channel-middle .screen button {
    outline: none;
    border: none;
    padding: 7px 10px;
    font-size: 16px;
    letter-spacing: 1px;
}

.channel-middle .screen button.active {
    border-bottom: 4px solid var(--text-color);
}

#screen2,
#screen3,
#screen4 {
    display: none;
}

.sub_wrapper {
    padding: 20px 70px;
    padding-left: 80px;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
    grid-column-gap: 120px;
    grid-row-gap: 50px;
}

.sub_wrapper .sub_box {
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 10px;
    width: 170px;
}

.sub_wrapper .sub_box img {
    width: 100%;
    border-radius: 50%;
}

.sub_wrapper .sub_box button {
    background: var(--scroll-bar);
    color: var(--white);
    padding: 8px 30px;
    border: 0;
    outline: 0;
    border-radius: 20px;
    cursor: pointer;
    letter-spacing: 1px;
}

/* Add custom CSS for toast notification */
.toast-notification {
    display: none;
    position: fixed;
    bottom: 20px;
    /* for placing at bottom */
    /* top: 20px; */
    /* for placing at top */
    left: 50%;
    transform: translateX(-50%);
    padding: 10px 20px;
    border-radius: 5px;
    background-color: #333;
    color: #fff;
    font-size: 16px;
}

.toast-success {
    background-color: var(--success);
}

.toast-error {
    background-color: var(--danger);
}
.lb_wrapper .left_lb {
    gap: 20px;
    flex-basis: 82%;
    align-items: flex-start !important;
    text-align: left;
}

.lb_wrapper .right_lb {
    flex-basis: 17%;
    margin-top: -25%;
}